{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Alterar senha{% endblock %}
{% block content %}
    <div class="container pt-5">
        <h1>Alterar sua senha</h1>
        {% if validlink %}
            <p>Por favor, digite sua senha duas vezes:</p>
            <form method="post">
                {% bootstrap_form form %}
                {% csrf_token %}
                {% bootstrap_button button_type="submit" content="Mudar senha" %}
            </form>
            {% else %}
            <p>O link para modificar senha é inválido,possivelmente por já ter sido utilizado. 
                Por favor, solicite nova recuperação de senha.</p>
        {% endif %}
    </div>
{% endblock %}