{% extends 'brutb/base.html' %}

{% block content %}

    <body>
        <br>
        <br>

        <div class="text-center">
            <h3> Programa Nacional de Controle e Erradicação da Brucelose e Tuberculose </h3>
            <br>
            <h5> Estudo de prevalência para Brucelose e Tuberculose </h5>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br?
        </div>
    

    </body>


{% endblock %}
