{% extends 'conta/base.html' %} {# Opcional: se você usar um template base #}

{% block title %}Registros do Seu Estado{% endblock %} {# Bloco de título #}

{% block content %} {# Bloco de conteúdo #}

<h1>Registros {{ user.perfil.estado }} </h1>

{% if propriedades %}
    
    <ul> {# Usamos uma lista não ordenada para exibir os registros #}
        {% for propriedade in propriedades %}
            <li>
                {# Exibe informações do registro #}
                <h3>
                    <a href="{{ propriedade.get_absolute_url }}">
                        {{ propriedade.cod_cadastro_defesa }}
                    </a>
                </h3>
                <p><strong>ID do Registro:</strong> {{ propriedade.cod_rebanho_estudo }}</p> {# Opcional: mostrar o ID #}
                <p><strong>Criado por:</strong> {{ propriedade.veterinario.get_full_name|default:propriedade.veterinario.username }}</p> {# Exibe o username do criador #}
                <p><strong>Data/Hora de Criação:</strong> {{ propriedade.criado }}</p>

                {# Exibe o campo 'data', aplicando um filtro para quebrar linhas #}
                <p><strong>Conteúdo:</strong></p>
                <div>{{ propriedade.data|linebreaksbr }}</div>

                <hr> {# Linha horizontal para separar os registros #}
            </li>
        {% endfor %}
    </ul>
    {% include 'brutb/paginacao.html' with page=propriedades %}

{% else %}
    {# Mensagem exibida se a lista de registros estiver vazia #}
    <p>Nenhum registro encontrado para o seu estado.</p>
{% endif %}

{% endblock %} {# Fim do bloco de conteúdo #}