{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.css">
</head>
<body>

    <div id="header">
        {% if request.user.is_authenticated %}
            <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">PNCEBT</a>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="/account/">Dashboard
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/">Propriedades</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/report">Relatório</a>
                      </li>
                  </ul>
                    {% if request.user.is_authenticated %}
                        <form class="d-flex" action="{% url "logout" %}" method="post">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Log out</button>
                            {% csrf_token %}
                        </form>
                    {% endif %}
                </div>
              </div>
            </nav>
        {% else %}
            <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">PNCEBT</a>
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto">
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}
    </div>
    <div id="content" class="container">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>