{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container pt-5"  >
    <h1>Dashboard</h1>
        <p>Bem vindo ao seu dashboard.</p>
        <div class="container-fluid pt-4">
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center">
                    <div class="card border-primary mb-3" style="width: 20rem;">
                        <div class="card-header">Perfil</div>
                            <div class="card-body">
                                <h4 class="card-title">Editar perfil</h4>
                                <p class="card-text">
                                    <a href="{% url "editar" %}" class="btn btn-primary">Editar</a>
                                </p>
                            </div>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                    <div class="card border-primary mb-3" style="width: 20rem;">
                        <div class="card-header">Perfil</div>
                            <div class="card-body">
                                <h4 class="card-title">Alterar senha</h4>
                                <p class="card-text">
                                    <a href="{% url "password_change" %}" class="btn btn-primary">Alterar</a>
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}