{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container pt-5"  >
    <h1>Dashboard</h1>
        <p>Bem vindo ao seu dashboard do sistema de para registro dos estudos do PNCEBT.</p>
        <div class="container-fluid pt-4">
            <div class="row justify-content-center">
                <div class="col-sm-2 d-flex justify-content-center">
                    <div class="card border-primary mb-3" style="width: 15rem;">
                        <div class="card-header">Perfil</div>
                            <div class="card-body">
                                <h4 class="card-title">Editar perfil</h4>
                                <p class="card-text">
                                    <a href="{% url "editar" %}" class="btn btn-primary">Editar</a>
                                </p>
                            </div>
                    </div>
                </div>
                <div class="col-sm-2 d-flex justify-content-center">
                    <div class="card border-primary mb-3" style="width: 15rem;">
                        <div class="card-header">Perfil</div>
                            <div class="card-body">
                                <h4 class="card-title">Alterar senha</h4>
                                <p class="card-text">
                                    <a href="{% url "password_change" %}" class="btn btn-primary">Alterar</a>
                                </p>
                            </div>
                    </div>
                </div>
                <div class="col-sm-2 d-flex justify-content-center">
                    <div class="card border-primary mb-3" style="width: 15rem;">
                        <div class="card-header">Sistema</div>
                            <div class="card-body">
                                <h4 class="card-title">Incluir propriedades</h4>
                                <p class="card-text">
                                    <a href="#" class="btn btn-primary">Incluir</a>
                                </p>
                            </div>
                    </div>
                </div>
                <div class="col-sm-2 d-flex justify-content-center">
                    <div class="card border-primary mb-3" style="width: 15rem;">
                        <div class="card-header">Sistema</div>
                            <div class="card-body">
                                <h4 class="card-title">Editar propriedade</h4>
                                <p class="card-text">
                                    <a href="#" class="btn btn-primary">Editar</a>
                                </p>
                            </div>
                    </div>
                </div>
                <div class="col-sm-2 d-flex justify-content-center">
                    <div class="card border-primary mb-3" style="width: 15rem;">
                        <div class="card-header">Sistema</div>
                            <div class="card-body">
                                <h4 class="card-title">Exportar registros</h4>
                                <p class="card-text">
                                    <a href="#" class="btn btn-primary">Exportar</a>
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}